* {
  box-sizing: border-box;
}

.container {
  height: 140vh;
  padding: 50px;
  padding-top: 25px;
  background-color: #b1b1b1;
}
.title {
  font-size: 250px;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: inline;
  color: rgb(52, 52, 52);
  font-size: 50px;
}
.upperBar {
  background-color: #b1b1b1;
  height: 85px;
  width: 100%;
}
.upperBarButton {
  background-color: #5a5a5a;
  color: rgb(223, 118, 43);
  float: right;
  top: 35px;
  margin: 10px;
}

.weather_container {
  float: left;
  right: 2%;
  width: 20%;
  height: 60px;
  background-color: #2d2d2d;
  border-radius: 10px;
  margin-right: 10px;
}

.weather {
  color: rgb(223, 118, 43);
  margin-top: 4%;
  text-align: center;
  font-size: 14px;
}

.calender_container {
  position: absolute;
  width: 60%;
  height: 665px;
  background-color: #3c3c3c;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.month_table {
  height: 575px;
  width: 100%;
}

.calender_container_controlbar {
  display: block;
  height: 10%;
}
.sub_main_calnedar_box {
  height: auto;
}
.buttonGroup {
  padding-top: 6px;
  margin-right: 2%;
  float: right;
}
.modeButton {
  padding: auto;
  margin-right: 5px;
  background-color: #2d2d2d;
  border: 2px;
  border-style: inset;
  color: rgb(223, 118, 43);
}
.modeButton:hover {
  cursor: pointer;
}
.detailInfo {
  position: absolute;
  left: 30px;
  float: left;
  color: aliceblue;
}

.head_month_box {
  background-color: aliceblue;
  color: black;
  height: 30px;
  width: 14.285%;
  text-align: center;
}
.body_month_box {
  vertical-align: top;
  background-color: aliceblue;
  color: black;
}

.MonthBoxFor4 {
    padding: 5px;
    vertical-align: top;
    width: 25%;
    margin: 1px;
    background-color: aliceblue;
    color: black;
}

.task_container {
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  right: 2%;
  width: 25%;
  height: 665px;
  background-color: #3c3c3c;
  border-radius: 10px;
}
.task_upperbar {
  height: 70px;
  padding: 10px;
  display: flex;
}
.task_title {
  color: aliceblue;
  font-size: 25px;
  margin-left: 10%;
  width: 50%;
}

.ToDoList {
  height: 578px;
  flex: 1;
  width: 100%;
  color: black;
  background-color: aliceblue;
  padding: 5px 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.taskBar {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(186, 186, 186);
  font-size: 20px;
  display: flex;
  text-align: start;
}

.taskName {
  margin-left: 15px;
  width: 90%;
}

.taskCheckBox {
  width: 10%;
}

.add_button {
  background-color: #5a5a5a;
  color: rgb(223, 118, 43);
  float: right;
  top: 35px;
  margin: 10px;
}
.popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.pop-content {
  text-align: "left";
}
.calendar_option{
  background-color: aliceblue;
}
.formgroup {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
.formbutton {
  margin-top: 10px;
}
.fb2 {
  margin-left: 20px;
}

.isDates-grey {
  color: rgb(255, 0, 0);
}

.ChatBox {
  border: rgb(224, 219, 211);
  height: auto;
  position: fixed;
  overflow: hidden;
  width: 400px;
  bottom: 0px;
  right: 0px;
  background-color: aliceblue;
  border-radius: 10px;
}
