.text {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    left:280px;
    top:-35px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color:antiquewhite;
    border-radius: 5px;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.reminder-settings {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.reminder-settings p {
    margin-right: 10px;
}

.reminder-settings select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: aliceblue;
}

/* Optional: Hover and Focus styles */
.reminder-settings select:hover,
.reminder-settings select:focus {
    border-color: #888;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
