ul {
  list-style-type: none;
}

h1 {
  color: rgb(223, 118, 43);
}

h2 {
  color: rgb(223, 118, 43);

}

p {
  color: black;
}



button {
  background-color: #000000;
  color: rgb(223, 118, 43);
}

.submit {
  background-color: #000000;
  color: rgb(223, 118, 43);
  font-size: 0.75rem;
}

select {
  background-color: #000000;
  color: rgb(223, 118, 43);
}

.post {
  background-color: #a3a3a3;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: black;
}

.task-columns-container {
  display: flex;
}

.task-column {
  flex: 1;
  margin-right: 20px; /* Adjust spacing between columns */
}

.progress-bar {
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #e76f51;
  top:0;
  bottom: 0;
  left: -100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items:center;
  color: white;
  font-family: sans-serif;
}