* {
  box-sizing: border-box;
}
.chat_box_container {
  width: 391px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  vertical-align: middle;
}

.info {
  display: flex;
  background: linear-gradient(skyblue, lightgreen);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.info_button {
  background-color: transparent;
  color: black;

}
.messageBox {
  flex: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  overflow-y: scroll;
  overflow: auto;
  padding: 0 10px;
}
.messageBox ::-webkit-scrollbar-thumb{
  border-radius: 8px;
}
.rec {
  background-color: rgb(0, 72, 255);
  padding: 10px;
  color: white;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-left: auto;
}
.sent {
  background-color: dodgerblue;
  padding: 10px;
  color: white;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 15px;
}
.footer {
  display: flex;
}

.footer_input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: 16px;
}

.footer_button {
  width: 100px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  border-radius: 0px;
}
.footer_button:hover {
  background-color: blue;
}
